* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.container {
  padding: 0px 10px;
  max-width: 1280px;
  margin: 0 auto;
}

.burger {
  display: none;
  position: fixed;
  z-index: 999999999;
  .burger__lines {
    position: absolute;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 50px;
    .burger__line {
      width: 25px;
      height: 3px;
      margin-top: 5px;
      background-color: #fff;
      transition: 0.3s;
    }
  }
  .burger__lines--active {
    margin-top: 58px;

    .burger__line {
      position: absolute;
    }
    .burger__line1 {
      transform: rotate(45deg);
    }
    .burger__line2 {
      opacity: 0;
    }
    .burger__line3 {
      transform: rotate(-45deg);
    }
  }
}

.header {
  background-image: url('../img/Header/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  .header__wrapper {
    max-width: 1060px;
    margin: 0 auto;
  }
  .header__top--active {
    background-color: #102746;
  }
  .header__top {
    z-index: 99999999;
    transition: 0.3s;
    position: fixed;
    width: 100%;
    padding: 30px 0px;
    .header__wrapper-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header__navigation {
        font-size: 18px;
        line-height: 24px;
        .header__navigation-item {
          color: #fff;
          margin-right: 82px;
          &:last-child {
            margin-right: 0px;
          }
          &:hover {
            color: rgb(184, 184, 184);
          }
        }
      }
    }
  }
  .header__content {
    padding-top: 263px;
    .header__wrapper-content {
      animation: header__content-block 1s linear;
      .header__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 60px;
        max-width: 620px;
        margin-bottom: 22px;
      }
      .header__subtitle {
        font-size: 16px;
        line-height: 24px;
        max-width: 545px;
        margin-bottom: 60px;
        color: #fff;
      }
      .header__form {
        display: flex;
        flex-wrap: wrap;
        .header__form-input {
          width: 297px;
          background: transparent url(../img/Header/circle.svg) no-repeat left 9px;
          background-size: 20px;
          border: 0;
          border-bottom: 2px solid #bfc0c5;
          margin-right: 60px;
          padding-left: 43px;
          padding-bottom: 22px;
          font-weight: 500;
          font-size: 18px;
          color: #fff;
          &::placeholder {
            font-weight: 500;
            font-size: 18px;
            color: #fff;
          }
        }
        .header__form-button {
          padding: 15px 39px;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 24px;
          color: white;
          background: #1b7dff;
          transition: all 0.3s;
          &:hover,
          :active,
          :focus {
            background: #0f59b9;
          }
        }
      }
    }
  }
}
@keyframes header__content-block {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #102746;
}
.benefits {
  margin-top: -10%;
  margin-bottom: 31px;
  .benefits__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    .benefits__inner {
      padding: 95px 0px 175px 100px;
      background-color: #fff;
      box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
      .benefits__title {
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        color: #102746;
        margin-bottom: 120px;
      }
      .benefits__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 55px;
        .benefits__card {
          opacity: 0;
          transition: 1.5s;
          .benefits__card-pic {
            margin-bottom: 37px;
          }
          .benefits__card-title {
            margin-bottom: 25px;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
          }
          .benefits__card-subtitle {
            max-width: 317px;
          }
        }
        .benefits__card-first {
          transform: translateX(-200px);
        }
        .benefits__card-second {
          opacity: 0;
          transition: 3s;
        }
        .benefits__card-third {
          transform: translateX(200px);
        }
      }
      .benefits__cards--cheked {
        .benefits__card {
          opacity: 1;
        }
        .benefits__card-first {
          transform: translateX(0px);
        }
        .benefits__card-second {
          opacity: 1;
        }
        .benefits__card-third {
          transform: translateX(0px);
        }
      }
    }
  }
}

.title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  &::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006dfe;
    margin-top: 7px;
    margin-bottom: 15px;
  }
}
.trip {
  padding-top: 100px;
  margin-bottom: 50px;
  .trip__inner {
    .trip__title {
      margin-bottom: 30px;
    }
    .trip__cards {
      display: grid;
      overflow: hidden;
      row-gap: 30px;
      .trip__card {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &:hover .trip__card-img {
          transform: scale(1.05);
        }
        .trip__card-img {
          height: 100%;
          width: 100%;
          transition: 0.2s;
          filter: brightness(70%);
        }
        .trip__card-title {
          font-weight: bold;
          font-size: 50px;
          line-height: 60px;
          color: #ffffff;
          position: absolute;
          left: 30px;
          bottom: 27px;
        }
      }
      .trip__cards-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        .trip__card-first {
          opacity: 0;
          transform: translateX(-200px);
        }
        .trip__card-second {
          opacity: 0;
          transform: translateX(200px);
        }
      }
      .trip__cards-top--cheked {
        .trip__card-first {
          transition: 1.5s;
          opacity: 1;
          transform: translateX(0px);
        }
        .trip__card-second {
          transition: 1.5s;
          opacity: 1;
          transform: translateX(0px);
        }
      }
      .trip__cards-bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        .trip__card-third {
          transition: 2.5s;
          opacity: 0;
        }
        .trip__card-fourth {
          transition: 2.5s;
          opacity: 0;
        }
        .trip__card-fifth {
          transition: 2.5s;
          opacity: 0;
        }
      }
      .trip__cards-bottom--cheked {
        .trip__card-third {
          opacity: 1;
        }
        .trip__card-fourth {
          opacity: 1;
        }
        .trip__card-fifth {
          opacity: 1;
        }
      }
    }
  }
}
.places {
  padding-top: 100px;
  margin-bottom: 50px;
  .places__inner {
    display: grid;
    row-gap: 100px;
    .places__place {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 120px;
      .places__img-wrapper {
        .places__img {
          width: 100%;
        }
      }
      .places__describe {
        padding: 50px 0px;
        .places__title {
          margin-bottom: 55px;
          font-weight: 500;
          font-size: 30px;
          line-height: 40px;
          color: #102746;
        }
        .places__subtitle {
          max-width: 700px;
        }
      }
    }
    .places__place-first {
      transition: 4s;
      opacity: 0;
      transform: translateX(-400px);
    }
    .places__place-first--cheked {
      transform: translateX(0px);
      opacity: 1;
    }
    .places__place-second {
      transition: 4s;
      opacity: 0;
      transform: translateX(400px);
    }
    .places__place-second--cheked {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}
.visit {
  padding-top: 100px;
  margin-bottom: 50px;
  .visit__inner {
    .visit__title {
      margin-bottom: 30px;
    }
    .visit__cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, 400px);
      column-gap: 30px;
      row-gap: 50px;
      .visit__card {
        transition: 4s;
        .visit__card-img-wrapper {
          .visit__card-img {
            width: 100%;
          }
        }
        .visit__card-status {
          color: #fff;
          padding: 15px;
          background: rgba(21, 24, 36, 0.6);
          display: flex;
          width: 100%;
          justify-content: space-between;
          top: 324px;
          .visit__card-title {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
          }
          .visit__card-popular {
            display: flex;
            font-size: 16px;
            .visit__card-likes {
              font-weight: 500;
              line-height: 24px;
              margin-right: 20px;
              padding-right: 20px;
              background: transparent url(../img/Visit/heart.svg) no-repeat right;
              background-size: 16px;
            }
            .visit__card-comments {
              font-weight: 500;
              line-height: 24px;
              padding-right: 23px;
              background: transparent url('../img/Visit/comment.svg') no-repeat right 7px;
              background-size: 14px;
            }
          }
        }
        .visit__card-subtitle {
          margin-top: 10px;
        }
      }
      .visit__card-first {
        transform: translateX(-200px);
        opacity: 0;
      }
      .visit__card-second {
        opacity: 0;
      }
      .visit__card-third {
        transform: translateX(200px);
        opacity: 0;
      }
      .visit__card-fourth {
        transform: translateX(-200px);
        opacity: 0;
      }
      .visit__card-fifth {
        opacity: 0;
      }
      .visit__card-sixth {
        transform: translateX(200px);
        opacity: 0;
      }
    }
    .visit__cards--cheked {
      .visit__card-first {
        transform: translateX(0px);
        opacity: 1;
      }
      .visit__card-second {
        opacity: 1;
      }
      .visit__card-third {
        transform: translateX(0px);
        opacity: 1;
      }
      .visit__card-fourth {
        transform: translateX(0px);
        opacity: 1;
      }
      .visit__card-fifth {
        opacity: 1;
      }
      .visit__card-sixth {
        transform: translateX(0px);
        opacity: 1;
      }
    }
  }
}

.video {
  padding-top: 100px;
  width: 100%;
  .video__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    .video__item {
      padding-top: 56.25%;
    }
    .video__element {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.footer {
  background: #0e1d28;
  .footer__wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 120px 10px;
    .footer__inner {
      display: flex;
      justify-content: space-between;
      .footer__logo {
        margin-right: 40px;
      }
      .footer__nav {
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        display: flex;
        .footer__nav-block {
          margin-right: 140px;
          &:last-child {
            margin-right: 0px;
          }
          .footer__nav-title {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
          }
          .footer__nav-link {
            color: #fff;
            &:hover {
              color: rgb(202, 202, 202);
            }
          }
        }
      }
    }
  }
}
// Header media start
@media (max-width: 1024px) {
  .header .header__top .header__wrapper-top {
    max-width: 768px;
    margin: 0 auto;
  }
  .header .header__content {
    padding-top: 160px;
  }
  .header .header__content .header__wrapper-content .header__title {
    font-size: 40px;
    font-weight: bold;
  }
  .header .header__top .header__wrapper-top .header__navigation .header__navigation-item {
    margin-right: 40px;
  }
  .header .header__content .header__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .header .header__content .header__wrapper .header__form .header__form-input {
    margin-bottom: 30px;
    background: transparent url(../img/Header/circle.svg) no-repeat left 3px;
  }
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
  .header .header__wrapper {
    padding: 0px 20px;
    max-width: 525px;
    margin: 0 auto;
  }
  .header .header__top .header__wrapper-top {
    padding-top: 20px;
  }
  .header .header__top .header__wrapper-top .header__logo-wrapper {
    margin: 0 auto;
  }
  .header .header__top .header__wrapper-top .header__navigation {
    position: absolute;
    left: -200vh;
    top: 0;
    transition: 0.8s ease;
  }
  .header .header__top .header__wrapper-top .header__navigation .header__items {
    background-color: rgb(61, 61, 61);
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 100vw;
    opacity: 0.9;
    padding: 100px 0px;
    justify-content: center;
  }
  .header
    .header__top
    .header__wrapper-top
    .header__navigation
    .header__items
    .header__navigation-item {
    margin: 0 auto;
    font-size: 30px;
    margin-top: 80px;
    &:first-child {
      margin-top: 0px;
    }
  }
  .header .header__top .header__wrapper-top .header__navigation--active {
    left: 0;
  }
  .header .header__content {
    padding-top: 200px;
  }
  .header .header__content .header__wrapper-content .header__form .header__form-input {
    padding-left: 22px;
    background: transparent url(../img/Header/circle.svg) no-repeat left 5px;
    background-size: 15px;
  }
}
@media (max-width: 375px) {
  .header
    .header__top
    .header__wrapper-top
    .header__navigation
    .header__items
    .header__navigation-item {
    margin: 0 auto;
    font-size: 30px;
    margin-top: 60px;
  }
  .header .header__content {
    padding-top: 130px;
  }
  .header .header__content .header__wrapper-content .header__form .header__form-input {
    background: none;
    padding-left: 0px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
  }
}
// Header media end

// Benefits media start
@media (max-width: 1440px) {
  .benefits .benefits__wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
  .benefits .benefits__wrapper .benefits__inner {
    padding: 95px 0px 175px 50px;
  }
}
@media (max-width: 1024px) {
  .benefits .benefits__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .benefits .benefits__wrapper .benefits__inner {
    padding: 95px 0px 175px 20px;
  }
}
@media (max-width: 768px) {
  .benefits .benefits__wrapper .benefits__inner .benefits__cards .benefits__card-first {
    transform: translateX(0px);
    opacity: 1;
  }
  .benefits .benefits__wrapper .benefits__inner .benefits__cards .benefits__card-second {
    opacity: 1;
  }
  .benefits .benefits__wrapper .benefits__inner .benefits__cards .benefits__card-third {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media (max-width: 425px) {
  .benefits .benefits__wrapper .benefits__inner {
    padding: 95px 0px 55px 10px;
  }
  .benefits .benefits__wrapper .benefits__inner .benefits__cards {
    grid-template-columns: repeat(auto-fill, 100%);
    column-gap: 0px;
  }
  .benefits .benefits__wrapper .benefits__inner .benefits__cards .benefits__card {
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
  }
  .benefits
    .benefits__wrapper
    .benefits__inner
    .benefits__cards
    .benefits__card
    .benefits__card-subtitle {
    max-width: none;
  }
}
// Benefits media end
// Container media start
@media (max-width: 1440px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: none;
  }
}
// Container media end
// Trip media start
@media (max-width: 768px) {
  .trip {
    margin-bottom: 20px;
  }
  .trip .trip__inner .trip__cards .trip__card {
    &:hover .trip__card-img {
      transform: scale(1);
    }
  }
  .trip .trip__inner .trip__cards .trip__cards-top {
    grid-template-columns: repeat(auto-fill, 100%);
    row-gap: 30px;
  }
  .trip .trip__inner .trip__cards .trip__cards-top .trip__card-first {
    transform: translateX(0px);
    opacity: 1;
  }
  .trip .trip__inner .trip__cards .trip__cards-top .trip__card-second {
    transform: translateX(0px);
    opacity: 1;
  }
  .trip .trip__inner .trip__cards .trip__cards-bottom {
    grid-template-columns: repeat(auto-fill, 100%);
    row-gap: 30px;
  }
  .trip .trip__inner .trip__cards .trip__cards-bottom .trip__card-third {
    opacity: 1;
  }
  .trip .trip__inner .trip__cards .trip__cards-bottom .trip__card-fourth {
    opacity: 1;
  }
  .trip .trip__inner .trip__cards .trip__cards-bottom .trip__card-fifth {
    opacity: 1;
  }
}

@media (max-width: 425px) {
  .trip .trip__inner .trip__cards {
    row-gap: 20px;
  }
  .trip .trip__inner .trip__cards .trip__cards-top {
    grid-template-columns: repeat(auto-fill, 100%);
    row-gap: 20px;
  }
  .trip .trip__inner .trip__cards .trip__cards-bottom {
    grid-template-columns: repeat(auto-fill, 100%);
    row-gap: 20px;
  }
}
@media (max-width: 375px) {
  .trip .trip__inner .trip__cards {
    row-gap: 10px;
  }
  .trip .trip__inner .trip__cards .trip__cards-top {
    grid-template-columns: repeat(auto-fill, 100%);
    row-gap: 10px;
  }
  .trip .trip__inner .trip__cards .trip__cards-bottom {
    grid-template-columns: repeat(auto-fill, 100%);
    row-gap: 10px;
  }
}
// Trip media end
// Places media start
@media (max-width: 1024px) {
  .places .places__inner .places__place {
    column-gap: 60px;
  }
  .places .places__inner .places__place .places__describe {
    padding: 0px 0px;
  }
  .places .places__inner .places__place .places__describe .places__subtitle {
    max-width: none;
  }
}
@media (max-width: 768px) {
  .places .places__inner .places__place {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media (max-width: 757px) {
  .places .places__inner .places__place {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .places .places__inner .places__place .places__img-wrapper {
    margin-bottom: 20px;
  }
  .places .places__inner .places__place .places__describe .places__title {
    margin-bottom: 20px;
  }
}
// Places media end
// Visit media start
@media (max-width: 1440px) {
  .visit .visit__inner .visit__cards {
    column-gap: 20%;
  }
}
@media (max-width: 1024px) {
  .visit .visit__inner .visit__cards {
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 15%;
  }
}
@media (max-width: 768px) {
  .visit .visit__inner .visit__cards {
    grid-template-columns: repeat(auto-fill, 40%);
  }
  .visit .visit__inner .visit__cards .visit__card-first {
    transform: translateX(0px);
    opacity: 1;
  }
  .visit .visit__inner .visit__cards .visit__card-second {
    opacity: 1;
  }
  .visit .visit__inner .visit__cards .visit__card-third {
    transform: translateX(0px);
    opacity: 1;
  }
  .visit .visit__inner .visit__cards .visit__card-fourth {
    transform: translateX(0px);
    opacity: 1;
  }
  .visit .visit__inner .visit__cards .visit__card-fifth {
    opacity: 1;
  }
  .visit .visit__inner .visit__cards .visit__card-sixth {
    transform: translateX(0px);
    opacity: 1;
  }
  .visit .visit__inner .visit__cards .visit__card .visit__card-status {
    padding: 10px;
  }
}
@media (max-width: 560px) {
  .visit .visit__inner .visit__cards {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}

// Visit media end
// Footer media start
@media (max-width: 1024px) {
  .footer .footer__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .footer .footer__wrapper {
    padding: 80px 10px;
  }
  .footer .footer__wrapper .footer__inner .footer__nav .footer__nav-block {
    margin-right: 40px;
  }
  .footer .footer__wrapper .footer__inner .footer__logo {
    margin-right: 20px;
  }
  .footer .footer__wrapper .footer__inner {
    flex-wrap: wrap;
  }
}
// Footer media end
